body{
  background: linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,.5));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,.5));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,.5));
}
header {
  text-align: center;
  background: url('../img/1.jpg') no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;

  color: white;
  position : fixed;
  width: 1350px;
  height:210px;
  top: -10px;
  left: -10px;
  z-index: 1;
}
a {
  color: white;
}
h1 {
  font-size: 70px;
  text-align: left;
  padding: 20px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  max-width:100%;
  max-height:100%;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
.search {
  position : absolute;
  left:800px;
  top:100px;
  width:400px;
  height:34px;
}
.cv {
  top:200px;
  position: relative;
  background: url('../img/2.jpg');
  background-size: cover;
  width:1350px;
  height:400px;
  left:-10px;
  color:white;
}
.cv_content{
  background: linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  width:1350px;
  height:400px;
}
.cv_cc{
  width:960px;
}
.cv_button{
  position:absolute;
  left:1000px;
  top:50px;
  font-size: 30px;
}
.cv_but{
  float:right;
}
.blog {
  top:200px;
  position: relative;
  background: url('../img/3.jpg');
  background-size: cover;
  width:1350px;
  height:600px;
  left:-10px;
  color:white;
}
.blog_content{
  background: linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  width:1350px;
  height:600px;
}
.blog_cc{
  width:960px;
}
.blog_m{
  font-size: 60px;
  padding:100px;
}
.blog_button{
  position:absolute;
  left:1000px;
  top:50px;
  font-size: 30px;
}
.project {
  top:200px;
  position: relative;
  background: url('../img/4.jpg');
  background-size: cover;
  width:1350px;
  height:600px;
  left:-10px;
  color:white;
}
.proj_content{
  background: linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,.4));
  width:1350px;
  height:600px;
}
.proj_but{
  width: 100px;
  height: 100px;
  background-color: white;
  padding: 0px;
  float:right;

}
.proj_cc{
  width:960px;
}
.a_blog{
  padding-left: 20px;
  font-size: 25px;
}
.a_search{
  padding-left: 20px;
  font-size: 25px;
  color:black;
}
.a_proj{
  font-size:20px;
}
.p_blog{
  padding-left: 60px;
  padding-top: 20px;
}
.bg_main{
  border: 20px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 1080px;
  height:auto;
  top:200px;
  border-radius: 25px;
  position: relative;
  left:50px
}
.bg_nav{
  display: inline;
  padding: 20px;
}
.bg_nav_left{
  float: left;
  color: white;
}
.bg_nav_right{
  float:right;
}
.hidden_but{
  display: none;
}
.hidden_but2{
  display: none;
}
.hidden_but3{
  display: none;
}
@media (max-width: 768px) and (min-width:400px) {
  header{
    width:768px;
    height:160px;
  }
  h1 {
    font-size: 36px;
    padding: 5px;
    text-align: center;
  }
  ul{
    width:768px;
  }
  .cv{
    top:140px;
    width:768px;
  }
  .cv_content{
    width:768px;
  }
  .cv_cc{
    width:768px;
  }
  .cv_button{
    display: none;
  }
  .blog{
    top:140px;
    width:768px;
    height: auto;
  }
  .blog_content{
    width:768px;
    height: auto;
  }
  .blog_cc{
    width:768px;
    height: auto;
  }
  .blog_m{
    font-size: 34px;
    padding:50px;
  }
  .project{
    top:140px;
    width:768px;
    height: auto;
  }
  .proj_content{
    width:768px;
    height: auto;
  }
  .proj_cc{
    width:768px;
    height: auto;
  }
  .proj_m{
    font-size: 34px;
    padding:50px;
  }
  .bg_main{
    width:768px;
    left:0px;
  }
  .hidden_but{
    display: block;
    top:-7px;
    position: relative;
  }
  .hidden_but2{
    display: block;
    top:-34px;
    position: relative;
  }
  .hidden_but3{
    display: block;
    top:-7px;
    position: relative;
  }
}
@media (max-width:401px) {
  header{
    width:400px;
    height:160px;
  }
  h1 {
    font-size: 36px;
    padding: 5px;
    text-align: center;
  }
  ul{
    width:400px;
  }
  .cv{
    top:140px;
    width:400px;
    height:auto;
  }
  .cv_content{
    width:400px;
    height:auto;
  }
  .cv_cc{
    width:400px;
    height:auto;
  }
  .cv_button{
    display: none;
  }
  .blog{
    top:140px;
    width:400px;
    height: auto;
  }
  .blog_content{
    width:400px;
    height: auto;
  }
  .blog_cc{
    width:400px;
    height: auto;
  }
  .blog_m{
    font-size: 34px;
    padding:50px;
  }
  .project{
    top:140px;
    width:400px;
    height: auto;
  }
  .proj_content{
    width:400px;
    height: auto;
  }
  .proj_cc{
    width:400px;
    height: auto;
  }
  .proj_m{
    font-size: 16px;
    padding:50px;
  }
  .bg_main{
    width:400px;
    left:0px;
  }
  .hidden_but{
    display: block;
    top:-7px;
    position: relative;
  }
  .hidden_but2{
    display: block;
    top:-34px;
    position: relative;
  }
  .hidden_but3{
    display: block;
    top:-44px;
    position: relative;
  }
}
